
/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}


:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #05fd99;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}











/* ---------- HEADER ---------- */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    /* backdrop-filter: blur(10px); */
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover {
    transform: scale(1.1);
}
.logo span {
    text-shadow: 0 0 25px var(--main-color);
}


.navlist {
    display: flex;
    list-style: none;
}

.navlist a{
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 40px;
    transition: all .50s ease;
}

.navlist a:hover{
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color)
}

#menu-icon{
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}















/* ---------- FOOTER ---------- */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--second-bg-color);
}
.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}
.footer .social a {
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover {
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
}
.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a {
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover {
    border-bottom: 3px solid var(--main-color);
}
.footer ul li {
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}











/* ---------- 3D SECTION ---------- */
.spline {
    position: absolute;
    /* overflow: hidden; */
    margin-top: 4%;
    width: 100%;
    height: 400px;
}









/* ---------- INDEX PAGE ---------- */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    /* background-color: var(--second-bg-color); */
}
.home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: center;
    justify-content: center;
    margin-top: 15rem;
}
span {
    color: var(--main-color);
}
.logo span {
    color: var(--main-color);
}
.home-content h1 {
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-content h2 {
    padding-top: 3rem;
    font-size: x-large;
}

.home-img {
    border-radius: 50%;
    object-fit: cover;
}
.home-img img {
    position: relative;
    top: 20rem;
    width: 25vw;
    height: 30vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color);
    box-shadow: 0 0 50px var(--main-color);
    box-shadow: 0 0 100px var(--main-color);
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover {
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}
.btn-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.btn-group a {
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:hover {
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
}

.name {
    display: inline-block;
    color: var(--main-color);
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(22, end), blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}












/* ---------- ABOUT PAGE ---------- */
.heading {
    font-size: 8rem;
    text-align: center;
    margin: 5rem;
}
.about {
    padding: 100px 15px;
    background: var(--second-bg-color);
}
.about h2 {
    margin-bottom: 5rem;
}
.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}
.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child {
    margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}
.timeline-dot {
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color),
                0 0 25px var(--main-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 4.5%;
}
.timeline-date {
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}
.timeline-content {
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}
.timeline-content h3 {
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}
.timeline-content p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}
::-webkit-scrollbar-track {
    background-color: var(--bg-color);
    width: 50px;
}













/* ---------- PROJECTS PAGE ---------- */
.projects {
    background: var(--bg-color);
}
.projects-box {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.projects .heading {
    margin-bottom: 5rem;
}
.projects-box img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.projects-item {
    min-height: 550px;
    max-width: 450px;
    background: rgba( 0, 0, 0, 0.7);
    border: 3px solid rgba(238, 238, 238, 0.3);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: white;
    transition: 0.4s ease-in-out;
}
.projects-item:hover {
    border: 3px solid var(--main-color);
    transform: translateY(-10px)scale(1.03);
    box-shadow: 0 0 50px var(--main-color);
}
.projects-item h2 {
    font-size: 2.8rem;
}
.projects-item p {
    font-size: 1.3rem;
}






























/* ---------- Media Queries for Responsiveness ---------- */
@media screen and (max-width: 768px) {
    html {
        font-size: 55%;
    }

    header {
        background-color: var(--second-bg-color);
    }

    .header {
        padding: 2rem;
    }


    #menu-icon{
        display: block; 
    }
    .navlist{
        list-style: none;
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        transition: all 0.5s ease;
    }
    .navlist a{
        display: block;
        padding: 17px;
        font-size: 22px;
    }
    .navlist.active {
        right: 0;
    }



    .spline {
        height: 250px;
        padding-top: 10%;
    }

    .home {
        flex-direction: column-reverse;
        gap: 5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 50vw;
        height: 50vw;
    }

    .projects .wrapper {
        grid-template-columns: repeat(1,1fr);
    }
    .projects-item {
        min-height: 10rem;
        min-width: 10rem;
    }


    .timeline-items {
        justify-content: flex-start; /* Align items to the start */
    }
    .timeline-items::before {
        left: 0; /* Move the line to the left */
    }
    .timeline-item {
        text-align: left; /* Align text to the left */
        padding-left: 0; /* Remove padding */
    }
    .timeline-item:nth-child(odd), 
    .timeline-item:nth-child(even) {
        padding-left: 0; /* Remove padding for both odd and even items */
        padding-right: 0;
        text-align: left; /* Align text to the left */
    }
    .timeline-dot {
        left: 2%; /* Move the dot to the left */
    }
    .timeline-date {
        margin: 15px 0 15px 35px;
    }
    .timeline-content {
        margin-left: 10px;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 50%;
    }

    .navbar a {
        font-size: 1.5rem;
    }

    .home-content h1 {
        font-size: 4rem;
    }

    .home-content h2 {
        font-size: 1.2rem;
    }

    .btn {
        padding: 0.8rem 2rem;
        font-size: 1.4rem;
    }
}