@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');


/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: "Exo 2", sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #05fd99;
}
html {
    font-size: 60%;
    overflow-x: hidden;
    overflow-y: auto;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
span {
    color: var(--main-color);
}
section {
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
/* Heading */
.heading {
    font-size: 8rem;
    text-align: center;
    margin: 0 0 10rem 0;
}









/* ------------------------------------------------------- */
/* ----------------------- HEADER ------------------------ */
/* ------------------------------------------------------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    /* backdrop-filter: blur(10px); */
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

/* Logo */
.logo {
    font-size: 3rem;
    /* font-family: "EB Garamond", serif; */
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover {
    transform: scale(1.1);
}
.logo span {
    /* font-family: "EB Garamond", serif; */
    text-shadow: 0 0 25px var(--main-color);
    color: var(--main-color);
}

/* Navigation bar */
.navlist {
    display: flex;
    list-style: none;
}
.navlist a{
    font-size: 2rem;
    /* font-family: "EB Garamond", serif; */
    font-weight: 500;
    color: var(--text-color);
    margin-left: 40px;
    transition: all .50s ease;
}
.navlist a:hover{
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color)
}
#menu-icon{
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}










/* ------------------------------------------------------- */
/* ----------------------- SPLINE ------------------------ */
/* ------------------------------------------------------- */
.spline {
    position: absolute;
    /* overflow: hidden; */
    margin-top: 3%;
    width: 100%;
    height: 30%;
}














/* ------------------------------------------------------- */
/* ----------------- HOME SECTION ------------------------ */
/* ------------------------------------------------------- */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    /* background-color: var(--second-bg-color); */
}
.home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: center;
    justify-content: center;
    margin-top: 25rem;
}
.home-content h1 {
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-content h2 {
    padding-top: 3rem;
    font-size: x-large;
}
.home-content h3 {
    padding-top: 2rem;
    font-size: large;
}

.home-img {
    border-radius: 50%;
    object-fit: cover;
}
.home-img img {
    position: relative;
    top: 13rem;
    width: 25vw;
    height: 30vw;
    border-radius: 40%;
    /* box-shadow: 0 0 25px var(--main-color); */
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color);
    box-shadow: 0 0 50px var(--main-color);
    box-shadow: 0 0 100px var(--main-color);
}

.carousel {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 25px;
    width: 100%;
    animation: slide 30s linear infinite;
}
.carousel i {
    height: 100%;
    margin-right: 25px; /* Spacing between logos */
    transition: transform 0.5s ease;
}
@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
.carousel-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 80vw;
}

.social-icons a, button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover, button:hover {
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}
.btn-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.btn-group a {
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:hover {
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
}

.name {
    display: inline-block;
    color: var(--main-color);
    border-right: 2px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(22, end), blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}












/* ------------------------------------------------------- */
/* ---------------- ABOUT SECTION ------------------------ */
/* ------------------------------------------------------- */
.about {
    padding: 100px 15px;
    background: var(--second-bg-color);
    /* display: flex;  */
}
.about h2 {
    margin-bottom: 5rem;
}

/* Description */
.description {
    margin: 5rem 5rem 5rem -1rem;
    width: 100%;
    display: flex;
}
.description h2 {
    /* text-align: start; */
    margin-left: 0;
}
.description li{
    font-size:large;
    margin: 20px 20px 20px 0;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
}
.description p{
    font-size: large;
    margin: 20px 20px 20px 0;
    text-align: center;
    padding: 2rem 30rem 2rem 30rem;
}
.description ul {
    /* text-align: start; */
    margin-left: 1%;
}


/* Swiper */
#swiper-section {
    height: auto;
    max-height: 60vh; /* !!!!!! Limit the height of the slides */
    /* background-color: #05fd99; */
}
.sectionWrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.swiper {
  width: 100%;
  height: auto;
  /* padding: 50px 20px; */
  overflow: visible;
}
.swiper .parallax-bg {
  position: absolute;
  right: -5%;
  top: -50%;
  width: 200%;
  /* height: 200%; */
}
.swiper .swiper-wrapper {
  align-items: center;
}
.swiper .swiper-slide {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(102, 102, 102, 0.8);
  border-radius: 7px;
  padding: 10px;
  margin: 0;
  cursor: grab;
  user-select: none;
  text-wrap: pretty;
}
.swiper .swiper-slide::before {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 80px;
  border-bottom: 1px dashed white;
  border-right: 1px solid white;
  border-radius: 0 0 7px 0;
  content: "";
  transition: all 0.3s ease;
}
.swiper .swiper-slide::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border-top: 1px solid white;
  border-left: 1px dashed white;
  border-radius: 7px 0 0 0;
  content: "";
  transition: all 0.3s ease;
}
.swiper .swiper-slide:hover {
    background: linear-gradient(
        135deg,
        #05fd99, /* Main color */
        #00e489,
        #00cb7a,
        #00b26a,
        #00985a,
        #007f4b,
        #00663b,
        #004d2b,
        #00341b,
        #001b0c
      );
    
}

.swiper .swiper-slide:hover::before,
.swiper .swiper-slide:hover::after {
  width: 170px;
  height: 170px;
  transition: all 0.3s ease;
}
.swiper .swiper-slide .cardPopout {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.swiper .swiper-slide img {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
  border-radius: 5px;
}

.swiper .swiper-slide h2 {
  font-size: 200%;
  line-height: 110%;
  margin: 0 0 7px 0;
  color: whitesmoke;
  font-family: "Nabla", system-ui;
  font-variation-settings: "EDPT" 100, "EHLT" 24;
  background-color: #111;
  border-radius: 100%;
}
.swiper .swiper-slide h4 {
  font-size: 110%;
  line-height: 120%;
  font-weight: 700;
  margin: 0 0 13px 0;
  color: #bbb;
  font-style: italic;
}

.swiper .swiper-scrollbar {
  --swiper-scrollbar-bottom: 0px;
  --swiper-scrollbar-size: 10px;
}















/* ------------------------------------------------------- */
/* ---------------- CARRER SECTION ----------------------- */
/* ------------------------------------------------------- */
/* Timeline */
.timeline{
    margin: 5rem;
    flex: 1;
    scale: 0.9;
}
.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}
.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child {
    margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}
.timeline-dot {
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color),
                0 0 25px var(--main-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 4.5%;
}
.timeline-date {
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}
.timeline-content {
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}
.timeline-content h3 {
    font-size: 1.5vw;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}
.timeline-content h4 {
    font-size: 1vw;
    font-weight: 400;
    color: white;
    margin: 0 0 10px;
}
.timeline-content p {
    color: white;
    font-size: 0.8vw;
    font-weight: 300;
    line-height: 22px;
}
.timeline-content svg {
    margin-bottom: 5px;
    width: 25px;
    height: 25px;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}
::-webkit-scrollbar-track {
    background-color: var(--bg-color);
    width: 50px;
}
















/* ------------------------------------------------------- */
/* -------------- PROJECT PORTFOLIO SECTION -------------- */
/* ------------------------------------------------------- */
.projects {
    background: var(--bg-color);
}
.projects-box {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.projects .heading {
    margin-bottom: 5rem;
}
.project-mockup {
    width: 100%;
    height: 65%;
    border-radius: 28px;
    border: 3px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}
.projects-box img {
    width: 100%;
    /* height: 100%; */
    border-radius: 10px;
    border: 3px solid rgba(238, 238, 238, 0.3);
    box-shadow: 0 0 20px rgba(238, 238, 238, 0.3);
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

/* Single Project */
.projects-item {
    min-height: 450px;
    max-width: 450px;
    background: rgba( 0, 0, 0, 0.7);
    border: 3px solid var(--main-color);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 5% 7%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: white;
    transition: 0.4s ease-in-out;
}
.projects-item:hover {
    border: 3px solid var(--main-color);
    transform: translateY(-10px)scale(1.03);
    box-shadow: 0 0 50px var(--main-color);
}
.projects-item h2 {
    font-size: 2.5rem;
    text-align: center;
}
.projects-item p {
    font-size: 1.3rem;
    margin-top: 3.5%;
    text-align: justify;
    /* text-align: center; */
}
.project-item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%; 
}
#project-tag {
    border: 2px solid #333333;
    background-color: #333333;
    padding: 5px 10px 10px 10px;
    font-weight: 600;
    border-radius: 10px;
}
#project-tag p {
    color: whitesmoke;
}
.project-item-title a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 3rem;
    width: 4.55rem; 
    height: 4.5rem;
    min-width: 4.55rem;
    min-height: 4.55rem;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: black;
    transition: 0.3s ease-in-out;
}
.project-item-title a:hover {
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}
.project-item-title svg {
    width: 2.5rem;
    height: 2.5rem;
}












/* ------------------------------------------------------- */
/* ---------------- CONTACTS SECTION --------------------- */
/* ------------------------------------------------------- */
.contacts {
    background-color: var(--second-bg-color);
}
.contact-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-btn {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 15px;
    height: 60px;
    padding: 11px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .5s ease;
    width: 30%;
}
.contact-btn p {
    padding-left: 15px;
    font-size: large;
}
.contact-btn:hover {
    background-color: transparent;
    color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
    cursor: pointer;
}















/* ------------------------------------------------------- */
/* ----------------------- FOOTER ------------------------ */
/* ------------------------------------------------------- */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--second-bg-color);
}
.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}
.footer .social a {
    font-size: 15px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover {
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
}
.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a {
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover {
    border-bottom: 3px solid var(--main-color);
}
.footer ul li {
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}





















/* ------------------------------------------------------- */
/* ---------- Media Queries for Responsiveness ---------- */
/* ------------------------------------------------------- */
@media screen and (max-width: 768px) {
    html {
        font-size: 55%;
        overflow-x: hidden;
    }
    body {
        overflow-x: hidden;
    }



    /* HEADER */
    header {
        background-color: var(--second-bg-color);
    }
    .header {
        padding: 2rem;
    }
    #menu-icon{
        display: block; 
    }
    .navlist{
        list-style: none;
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        transition: all 0.5s ease;
    }
    .navlist a{
        display: block;
        padding: 17px;
        font-size: 22px;
    }
    .navlist.active {
        right: 0;
    }



    /* HOME SECTION */
    .home {
        flex-direction: column-reverse;
        gap: 5rem;
        padding-top: 50%;
    }
    .home-content h1 {
        font-size: 5rem;
        margin-top: 0;
    }
    .home-img img {
        width: 45vw;
        height: 50vw;
    }



    /* ABOUT SECTION */
    .about {
        flex-direction: column;
    }
    .description {
        margin: 0;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Align items vertically center */
        align-items: center;    /* Align items horizontally center */
    }
    .about .description h2 {
        margin: auto;
        padding-bottom: 3rem;
    }
    .description p, li{
        scale: 1;
        margin: 20px;
        padding: 0;
    }
    .description .heading {
        text-align: center;
    }
    .description ul {
        margin-left: 26%;
        text-align: start;
        margin-left: 1%;
    }
    /* Swiper */
    .swiper .parallax-bg {
        width: 320%;
    }

   
    /* .description p, li{
        font-size: medium;
        margin: 20px;
    } */
  

    
    /* CARRER SECTION */
    #career{
        margin-top: -10rem;
    }
    .timeline-items {
        justify-content: flex-start; /* Align items to the start */
        width: 100%;
    }
    .timeline h3, h4, p {
        scale: 0.9;
    }
    .timeline-content h3 {
        font-size: 23px;
    }
    .timeline-content h4 {
        font-size: 20px;
    }
    .timeline-content p {
        font-size: 17px;
    }
    .timeline-content svg {
        padding-left: -5px;
    }
    .timeline-items::before {
        left: 0; /* Move the line to the left */
    }
    .timeline-item {
        text-align: left; /* Align text to the left */
        padding-left: 0; /* Remove padding */
        width: 200%;
    }
    .timeline-item:nth-child(odd), 
    .timeline-item:nth-child(even) {
        padding-left: 0; /* Remove padding for both odd and even items */
        padding-right: 0;
        text-align: left; /* Align text to the left */
    }
    .timeline-dot {
        left: -3%; /* Move the dot to the left */
    }
    .timeline-date {
        margin: 15px 0 15px 35px;
    }
    .timeline-content {
        margin-left: 30px;
    }
    .projects-item p {
        scale: 1;
    }



    /* PROJECT PORTFOLIO SECTION */
    .projects {
        padding: 5%;
    }
    .projects .wrapper {
        grid-template-columns: repeat(1,1fr);
    }
    .projects-item {
        min-height: 10rem;
        min-width: 10rem;
    }



    /* CONTACTS SECTION */
    #contact-heading {
        margin: 0;
    }
    .contact-btn {
        width: 100%;
        padding: 0;
        text-align: start;
    }  



    /* FOOTER */
    .footer .list {
        display: flex;
        flex-direction: column;
    }
    .footer .social {
        padding: 0;
    }
}










@media screen and (max-width: 480px) {
    html {
        font-size: 50%;
    }

    .navbar a {
        font-size: 1.5rem;
    }

    .home-content h1 {
        font-size: 4rem;
    }

    .home-content h2 {
        font-size: 1.2rem;
    }

    .btn {
        padding: 0.8rem 2rem;
        font-size: 1.4rem;
    }
}

